/* CSS declarations go here */
body {
    font-size: 2em;
}

.tab-content {
    width: 300px;
    margin-top: 2.5em;
    margin-left: 2.5em;
}

.unselectable {
    user-select: none;
    -webkit-user-select: none;
}

.xdelete {
    cursor: pointer;
}

.xdelete_assignment {
    cursor: pointer;
}

#add_mark_input {
    width: 3.5em;
}

#mark_received_date_input {
}

.partyturot_button {
    user-select: none;
    cursor: pointer;
    -webkit-user-select: none;
    display: inline-block;
    padding: 4px 8px;
    background: rgb(200,200,200);
}

li {
    list-style: none;
}

#add_assignment_text_input {
    direction: rtl;
    width: 99%;
}
